<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="log.dir" value="./logs"/>
        <Property name="max" value="100"/>
        <Property name="TimeBasedTriggeringPolicyInterval" value="1"/>
        <Property name="age" value="60d"/>
    </Properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [Thread: %t] - %l - %m%n"/>
        </console>

        <RollingFile name="RollingFileDebug" fileName="${log.dir}/debug.log"
                     filePattern="${log.dir}/debug.log.%d{yyyy-MM-dd}.%i.gz">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [Thread: %t] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${TimeBasedTriggeringPolicyInterval}"/>
            </Policies>
            <DefaultRolloverStrategy max="${max}">
                <Delete basePath="${log.dir}" maxDepth="1">
                    <IfFileName glob="debug*.gz"/>
                    <IfLastModified age="${age}"/>
                </Delete>

            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileInfo" fileName="${log.dir}/info.log"
                     filePattern="${log.dir}/info-%d{yyyy-MM-dd}-%i.gz">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [Thread: %t] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${TimeBasedTriggeringPolicyInterval}"/>
            </Policies>
            <DefaultRolloverStrategy max="${max}">
                <Delete basePath="${log.dir}" maxDepth="1">
                    <IfFileName glob="info*.gz"/>
                    <IfLastModified age="${age}"/>
                </Delete>

            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileWarn" fileName="${log.dir}/warn.log"
                     filePattern="${log.dir}/warn-%d{yyyy-MM-dd}-%i.gz">
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [Thread: %t] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${TimeBasedTriggeringPolicyInterval}"/>
            </Policies>
            <DefaultRolloverStrategy max="${max}">
                <Delete basePath="${log.dir}" maxDepth="1">
                    <IfFileName glob="warn*.gz"/>
                    <IfLastModified age="${age}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileError" fileName="${log.dir}/error.log"
                     filePattern="${log.dir}/error-%d{yyyy-MM-dd}-%i.gz">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [Thread: %t] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${TimeBasedTriggeringPolicyInterval}"/>
            </Policies>
            <DefaultRolloverStrategy max="${max}">
                <Delete basePath="${log.dir}" maxDepth="1">
                    <IfFileName glob="error*.gz"/>
                    <IfLastModified age="${age}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileTRACE" fileName="${log.dir}/trace.log"
                     filePattern="${log.dir}/trace-%d{yyyy-MM-dd}-%i.gz">
            <Filters>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [Thread: %t] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${TimeBasedTriggeringPolicyInterval}"/>
            </Policies>
            <DefaultRolloverStrategy max="${max}">
                <Delete basePath="${log.dir}" maxDepth="1">
                    <IfFileName glob="trace*.gz"/>
                    <IfLastModified age="${age}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileDebug"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>

</configuration>
